<h2> Welcome to Walk the Dog!!!</h2>

<%= link_to 'Find a dog walker in your area', users_path %>

<p>Your community of doggie enthusiasts. Our goal is to connect your dog with a dog walker in your area so you can have a healthy happy pooch. </p>

<p>Feel free to browse through the <%= link_to 'list of available dog walkers', users_path %>, sign up and enjoy the benefits of a happy dog.</p>
