<h2> Welcome to Walk the Dog!!!</h2>

<%= link_to 'Find a dog walker in your area', users_path %>

<p>This is your community of doggie enthusiasts, connecting your dog with a dog walker in your area. A healthy pooch is a happy pooch. </p>

<p>Sign up to connect with a dog walker in your area. <%= link_to 'list of available dog walkers', users_path %></p>

<%= image_tag 'paw_prints2.png' %>
