img.user_image {
  max-height: 300px;
  max-width: 300px;
  padding:1px;
  border:1px solid #505050;
  background-color:#C0C0C0;
}

div.image_left, div.bio_right { /*display for dogs show page also */
  /* position: relative; */
  display: inline-block;
  /* margin-left: 10px; */
}

div.bio_right {   /*display for dogs show page also */
  max-width: 500px;
  margin-left: 20px;
}

div.client_dogs {    /* list of dogs AND names.*/
  display: inline-block;
  text-align: center;
  margin: 10px;
}

img.dog_thumbs {  /* the thumbnails of dogs */
  max-height: 70px;
  padding:1px;
  border:2px solid #505050;
  background-color:#C0C0C0;
}

div.form_left, #pic_right { /* sign up form */
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

#pic_right {     /* sign up form */
  position: fixed;
  height: 300px;
  margin-top: 75px;
  margin-left: 55px;
}

div.sign_up {    /* sign up form */
  margin-left: 30px;
}
